<div class="expense-page">

<h2>Expense List</h2>

<div class="top-bar">

<input
type="text"
placeholder="Search expense..."
[(ngModel)]="searchText"
class="search"
/>

<div class="report-buttons">

<button (click)="downloadPDF()">
Download PDF
</button>

<button (click)="downloadExcel()">
Download Excel
</button>

</div>

</div>

<table>

<thead>

<tr>
<th>Title</th>
<th>Amount</th>
<th>Category</th>
<th>Action</th>
</tr>

</thead>

<tbody>

<tr *ngFor="let e of filteredExpenses()">

<td>

<input *ngIf="editingId===e._id"
[(ngModel)]="editTitle">

<span *ngIf="editingId!==e._id">
{{e.title}}
</span>

</td>

<td>

<input
type="number"
*ngIf="editingId===e._id"
[(ngModel)]="editAmount">

<span *ngIf="editingId!==e._id">
₹{{e.amount}}
</span>

</td>

<td>{{e.category}}</td>

<td>

<button
*ngIf="editingId!==e._id"
(click)="startEdit(e)"
class="edit">

Edit
</button>

<button
*ngIf="editingId===e._id"
(click)="saveEdit(e._id)"
class="save">

Save
</button>

<button
(click)="deleteExpense(e._id)"
class="delete">

Delete
</button>

</td>

</tr>

<tr *ngIf="filteredExpenses().length===0">

<td colspan="4" class="empty">

No expenses found

</td>

</tr>

</tbody>

</table>

</div>