<header class="navbar">

<div class="logo">
💰 Smart Expense Tracker
</div>

<nav class="nav-links">

<!-- BEFORE LOGIN -->

<div *ngIf="!isLoggedIn()" class="auth-links">

<a routerLink="/login">Login</a>

<a routerLink="/register">Register</a>

</div>


<!-- AFTER LOGIN -->

<div *ngIf="isLoggedIn()" class="menu-links">

<a routerLink="/dashboard">Dashboard</a>

<a routerLink="/add">Add Expense</a>

<a routerLink="/expenses">Expenses</a>

<a routerLink="/add-income">Add Income</a>

<a routerLink="/income">Income</a>

<a routerLink="/calendar">Calendar</a>

<a routerLink="/profile">Profile</a>

<button (click)="logout()" class="logout">
Logout
</button>

</div>

</nav>

</header>

<router-outlet></router-outlet>